HCAPTCHA_SECRET=0x0000000000000000000000000000000000000000
HCAPTCHA_VERIFY_URL=https://api.hcaptcha.com/siteverify
HCAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001
VITE_HCAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001

# MySQL 配置 (Docker 中使用 host.docker.internal 代替 127.0.0.1)
CDK_MYSQL_DSN=Zens:Zqszhqqxh0$@tcp(host.docker.internal:3306)/cdk_airdrop?parseTime=true&charset=utf8mb4&loc=Local

# 社区 SSO 配置
CDK_COMMUNITY_URL=http://localhost:5173
CDK_COMMUNITY_CLIENT_ID=cdk-airdrop
CDK_COMMUNITY_JWT_SECRET=your_jwt_secret_here
